@font-face {
    font-family: PixelFont;

    src: url(./fonts/PixelFJVerdana12pt.woff);
}


.center{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 21;
	padding: 120px 0;
}

.popup{
	width:fit-content;
	height: auto;
	background-color: #ff9c00;
	position: relative;
	z-index: 21;
	opacity: 1;
	margin:auto;
	padding: 25px 46px;
	
	

}

.formTable{

	margin:auto;
	color: white;
	width: 80%;
	font-size: 15pt;
	padding: 10px;

}

.formTable td{
	padding: 5px;
}

.formTable td,th{
	text-align: center;
}

.navcon{
	background-color: #ffb138;
	border-bottom: #dd972a;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 8;


}

body{
	margin:0;
	background-color: #ff9c00;

}

.my-container{

	margin:20px 20px 30px 20px;
	margin-top: 90px;


}

.my-navbar{

	padding: 15px;

}

.company-name{
	font-weight: bolder;
	font-size: 25pt;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
	user-select: none;
	position: relative;
	animation-name: hovering;
	animation-iteration-count: infinite;
	transform:translateY(10px);
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-duration: 1.5s;


}

.big{
	font-size: 40px;
}

@keyframes hovering{
	0% {transform:translateY(10px);}

	100% {transform:translateY(-10px);}


}

.tools{
	
	display: flex;
	align-items: center;
  	justify-content: center;

}

.my-button{

	margin: 0px 5px;
	padding: 0px 10px;
	user-select: none;
	color: #ddd;
}

.start{
	background-color: #31b719;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 0;
}

.stop{
	background-color: #ff2d2d;
	width: 22px;
	height: 18px;
	padding: 0;
}

.disabled{
	background-color: #966161;
}

.start:hover{
	background-color: #37cc1c;
}

.stop:hover{
	background-color: #ff3d3d;
}

.disabled:hover{
	background-color: #966161;
}

.toolbox{
	display: inline-flex;
	background-color: #ffb138;
	align-items: center;
  	justify-content: center;
	padding: 10px 75px;
	border: 1px solid #dd972a;


}

.webcam-group{
	display: inline-grid;
	width: 400px;
	height: 
}

.webcam{
display: inline-block;
margin: 0;
overflow: hidden;
height: auto;
max-height: 250px;
transition: 0.35s;
transition-timing-function: ease-in-out;
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
background-color:#ffb138;
margin-bottom:2px;

}





.hidden{
max-height: 0px;
transition: 0.35s;
transition-timing-function: ease-in-out;
}

.showWebcam{
	background-color: #ffb138;
	margin: 0;
	text-align: center;
}

.console{
	background-color: #ffb138;
	width: 400px;
	height: 300px;

	padding: 10px;
}

.console_text{
	font-family: Arial;
	font-size: 12pt;
	background-color: #ffd;
	width: 100%;
	height: 100%;
	padding: 10px;
	resize: none;
	line-height: 19pt;
	
}

.loader {

}

.error{

	font-size:12pt;

}

.no_position{
position: absolute;
bottom: 37px;


}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.addTable{
	width: 40%;
	table-layout: fixed;
}

.addTable td{
	
}



.control_center{
	width: 1200px;
	height: 500px;
	margin:auto;
}

.button_group{
	display: flex;
	border-bottom: 1px solid #aaa;
		user-select: none;
}

.button_control{
	margin:0;
	border:0;
	width: 100%;
	transition: 0.2s;
	border-right: 1px solid #aaa;
	cursor:pointer;
	
}

button:focus {outline:0;}

.button_control:last-child{
	border-right: 0;
}

.active_menu{
	background-color: #efb681;
	transition: 0.2s;
}

.control{
	display: none;

}

.active_control{
	display: block;
}

.control_container{
	width: 100%;
	height: 100%;
	background-color: buttonface;
	padding: 50px;
}

#qrcodeHolder{
	position: absolute;
	padding: 30px 5px;

}

.opacity_hidden{
	opacity: 0;


}

.opacity_show{
	opacity: 1;
	transition:0.65s;
	transition-timing-function:linear;
}

.admin{
	background-color:#ff9c00;
}

.admin:hover {
 
    box-shadow: 0 0 2px -1px rgba(0,0,0,0.2);
    background-color : #ffa00c;
}

.admin:active {
 
    box-shadow: 0 0 3px -1px rgba(0,0,0,0.3);
}

#qrcodeHolder img{
	position:absolute;
}

#month_table{
	margin-top: 10px;
	border: 1px solid #d0d4db;
}

.table_header{
	font-size: 18px;
	font-weight: 600;
}


thead tr{
	background: #d0d4db;
}

.row_style tbody tr:nth-child(odd) {
    background: #dbdbdb;
}

.row_style tbody tr:nth-child(even) {
    background: #d0d4db;
}

.row_style td{
	padding: 5px;
}

.row_style{
	width: 100%;

}

.static_size{
	width: 72px;
}

.delete_month_btn{


	left: 130px;
	position: relative;
	cursor: pointer;
}

.no_shown{
	position: absolute;
	opacity: 0;
}

.add_month_table input{
	width: 50px;
}

#client_table{
	margin-top: 10px;
}

.edit_icon{
	position: relative;
}

.edit_icon i{
	position: absolute;
	left: 190px;
    display: none;
	
}

.display_show i{
	display: unset;
}

.edit_icon_active i{
	display: none;
}

.shadowBox{
	background-color: black;
	width: 100%;
	height: 100%;
	z-index: 999;
	position: fixed;
	background-color:rgba(0,0,0,.75);
	top:0;
	left:0;
	opacity: 1;
	transition: 0.5s;

}

.qrcode_button{
	padding: 8px 28px;
}

.email_change{
	margin-left: 50px;
	grid-template-rows: 50px 50px;
	display: grid;
}

.control_header{
	display: flex;
}

.fake-link {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.fake-link:active{
	color: red;
}

.fake-link:hover {
     text-decoration:underline;
     color:#0056b3;
}

.delete_user_btn{
	cursor: pointer;
}

.access_granted{
	color: green;
	width: fit-content;
    display: block;
    margin: auto;
    margin-top: 15px;
    animation-name: glowing_green;
	animation-iteration-count: infinite;
	animation-direction: alternate;
		animation-timing-function: linear;
	animation-duration: 0.5s;
	font-weight: bold;
}

.access_denied{

	color: red;
	width: fit-content;
    display: block;
    margin: auto;
    margin-top: 15px;
    animation-name: glowing_red;
    animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-duration: 0.5s;
	font-weight: bold;

}

@keyframes glowing_green{
	0%{text-shadow: 0px 0px 0px #02ff02;}
	100%{text-shadow: 0px 0px 10px #02ff02;}
}

@keyframes glowing_red{
	0%{text-shadow: 0px 0px 0px #ff4242;}
	100%{text-shadow: 0px 0px 4px #ff4242;}
}

.addMonthTable{

	width: 58%;
}

.monthPopup{
	width: 300px;
}

.display_hide{
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

.passwordForm{
	width: 100%;
	font-size: 12pt;
	text-align: left;
}